<div class="view-wrapper">
  <div *ngIf="pizza$ | async as pizza" class="panel-pizza flex-pizza">
    <div class="panel-content-pizza">
      <h3>{{ pizza.name }}</h3>
      <h4>USD&nbsp;{{pizza.price.toFixed(2)}}</h4>
      <p>{{pizza.incredients|incredients}}</p>
    </div>
    <img src="../../assets/img/{{pizza.img}}" class="panel-img-pizza">
  </div>
  <hr>
  <div class="panel-extras-pizza">
    <div>
      Please select multiple extras:
      <select [(ngModel)]="selectedExtra" (ngModelChange)="onExtraChange($event)" class="form-control" id="extras" required>
            <option *ngFor="let extra of extras" [ngValue]="extra">{{extra.name|extraName}}</option>
          </select>
      <button class="button" (click)="addExtra(extra)">add</button>
      <div class="panel-chosen-extras-pizza">
        <span *ngFor="let extra of chosenExtras">
          <span (click)="removeExtra(extra)">{{extra.name|extraName}}</span>
        </span>
      </div>
    </div>
  </div>