ul {
    list-style-type: none;
    padding-left: 0;
}

.panel-pizza {}

.panel-content-pizza {
    padding: 0.5rem;
}

.flex-pizza {
    display: flex;
    justify-content: space-between;
}

.panel-img-pizza {
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
    padding: 0.5rem;
}

.panel-extras-pizza {
    padding: 0.5rem;
}

.panel-chosen-extras-pizza {
    margin-top: 0.5rem;
    min-height: 2rem;
}

.panel-shopping-cart-pizza {
    padding-right:0.5rem;
}

.btn-float-right {
    float: right;
}