<div class="view-wrapper">
  <p *ngIf="!cart.pizzas || cart.pizzas.length === 0">Cart is empty</p>
  <ul>
    <li *ngFor="let item of cart.pizzas; let i = index">
      <div class="card-pizzas flex-pizzas">
        <div class="card-content-pizzas">
          <ul>
            <li>
              <h3>{{ item.pizza.name }}</h3>
            </li>
            <li>
              <p *ngIf="item.extras && item.extras.length">Extras:&nbsp;{{item.extras|extrasNames}}&nbsp;</p>
            </li>
            <li>
              <h4>USD&nbsp;{{item.total.toFixed(2)}}</h4>
            </li>
            <li>
                <a href="javascript:void(0)" (click)="removeItem(i)">remove</a>
            </li>
          </ul>
        </div>
        <img src="../../assets/img/{{item.pizza.img}}" class="card-img-pizzas">
      </div>
    </li>
  </ul>
  
</div>