<div class="view-wrapper">
  <h1>Pizza Service - Shopping Cart</h1>
  <p *ngIf="!cart.pizzas || cart.pizzas.length === 0">Cart is empty</p>
  <ul *ngIf="cart && cart.pizzas">
    <li *ngFor="let item of cart.pizzas; let i = index">
      <div class="card-pizzas flex-pizzas">
        <div class="card-content-pizzas">
          <ul>
            <li>
              <h3>{{ item.pizza.name }}</h3>
            </li>
            <li>
              <p *ngIf="item.extras && item.extras.length">Extras:&nbsp;{{item.extras|extrasNames}}&nbsp;</p>
            </li>
            <li>
              <h4>USD&nbsp;{{item.total.toFixed(2)}}</h4>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="removeItem(i)">remove</a>
            </li>
          </ul>
        </div>
        <img src="../../assets/img/{{item.pizza.img}}" class="card-img-pizzas">
      </div>
    </li>
  </ul>
  <div *ngIf="cart.pizzas.length > 0" class="panel-order-cart">
    <p>Total: USD&nbsp;{{cart.total.toFixed(2)}}</p>
    <form (ngSubmit)="order()" #orderForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="name" name="name">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" required [(ngModel)]="email" name="email">
      </div>
      <button type="submit" class="button btn-float-right" [disabled]="!orderForm.form.valid">order</button>
    </form>
  </div>
</div>